@import "tailwindcss";

@theme {
  --color-neon-blue: #3b82f6;
  --color-cyber-purple: #8b5cf6;
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --animate-shimmer: shimmer 8s infinite;

  @keyframes shimmer {
    0%, 90%, 100% {
      background-position: calc(-100% - var(--shimmer-width)) 0;
    }
    30%, 60% {
      background-position: calc(100% + var(--shimmer-width)) 0;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --background: #ffffff;
  --foreground: #020617;
  --shimmer-width: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-feature-settings: "rlig" 1, "calt" 1;
}
